/* General Istructions */

*{
    margin: 0;
    box-sizing: border-box;
}

/* .txt{
Empty Rule
} */

.strong{
    font-size: large;
    font-weight: bold;
}

/* /General Istructions */

.nav{
    background-color: #0084fd;
    display: flex;
    padding: 3% 10%;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    color: white;
}

/* Product Presentation */

.restrict{
    height: 2000px;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.demo{
    height: 27%;
    margin: 12% 8% 2% 8%;
    border: 1px solid #b9dbfe;
    border-radius: 5%;
    background-color: #b9dbfe;
}

.clean{
    height: 18%;
    margin: 3% 8% 3% 8%;
    border: 1px solid #caf0db;
    border-radius: 5%;
    background-color: #caf0db;
}

.web{
    height: 18%;
    margin: 3% 8% 3% 8%;
    border: 1px solid #fed2d1;
    border-radius: 5%;
    background-color: #fed2d1;
}

.development{
    height: 18%;
    margin: 3% 8% 3% 8%;
    border: 1px solid #ffe7c3;
    border-radius: 5%;
    background-color: #ffe7c3;
}

.branding{
    height: 18%;
    margin: 3% 8% 3% 8%;
    border: 1px solid #d5d4f4;
    border-radius: 5%;
    background-color: #d5d4f4;
}

/* /Product Presentation */

/* Benefits */

.benefits{

    height: 1500px;
    display: flex;
    flex-flow: column;
    text-align: center;
    border: 1px solid #9692e6;
    background-color: #9692e6;
}

.explanation{
    height: 650px;
    margin: 90% 8% 3% 8%;
    text-align: center;
    border: 1px solid white;
    border-radius: 5% ;
    background-color: white;
}

/* /Benefits */

/* Team */

/* .testimonials{
Empty Rule
} */



.team{
    height: 1900px;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.staff_1{
    height: 18%;
    margin: 3% 8% 3% 8%;
    border: 1px solid #ffbfbf;
    border-radius: 5%;
    background-color: #ffbfbf;
}

.staff_2{
    height: 18%;
    margin: 3% 8% 3% 8%;
    border: 1px solid #feddaa;
    border-radius: 5%;
    background-color: #feddaa;
}

.staff_3{
    height: 18%;
    margin: 3% 8% 3% 8%;
    border: 1px solid #b2e9ca;
    border-radius: 5%;
    background-color: #b2e9ca;
}

/* /Team */

/* More info */

.container{
    height: 1800px;
    display: flex;
    flex-flow: column;
    text-align: center;
}



/* /More info */

.infobox{
    height: 2200px;
    display: flex;
    flex-flow: column;
    background-color: #9692e6;
    text-align: center;
}

.boxes{
    height: 12%;
    margin: 3% 8% 3% 8%;
    border: 1px solid white;
    border-radius: 5%;
    background-color: white;
}

.high{
    margin: 20% 8% 3% 8%;
}

.support{
    margin: 3% 8% 20% 8%;
}

/* About Us */

.about{
    height: 1900px;
    display: flex;
    flex-flow: column;
    text-align: center;
}

/* /About Us */

/* Call to action */

.call{
    height: 1000px;
    display: flex;
    flex-flow: column;
    border: 1px solid #9692e6;
    background-color: #9692e6;
    text-align: center;
}

/* /Call to action */

/* Footer */

footer{
    height: 400px;
    display: flex;
    flex-flow: column;
    border: 1px solid #333333;
    background-color: #333333;
}

/* .sample{
Empty Rule
} */

/* /Footer */

/* Tablet Responsitivity */

@media screen and (min-width:837px){

    .restrict{
        width: 100vw;
        height: 1500px;
        display: flex;
        flex-flow: row wrap;
        align-content:flex-start
    }

    .demo{
        margin: 10% 1% 1% 8%;
        height: 28%;
        width: 50%;
        border: 1px solid #b9dbfe;
        border-radius: 5%;
        background-color: #b9dbfe;
    }
    
    .clean{
        margin: 10% 8% 1% 1%;   
        height: 28%;
        width: 25%;
        border: 1px solid #caf0db;
        border-radius: 5%;
        background-color: #caf0db;
    }
    
    .web{
        margin: 1% 1% 1% 8%;
        height: 28%;
        width: 25%;
        border: 1px solid #fed2d1;
        border-radius: 5%;
        background-color: #fed2d1;
    }
    
    .development{
        margin: 1% 1% 1% 1%;
        height: 28%;
        width: 25%;
        border: 1px solid #ffe7c3;
        border-radius: 5%;
        background-color: #ffe7c3;
    }
    
    .branding{
        margin: 1% 8% 1% 1%;
        height: 28%;
        width: 25%;
        border: 1px solid #d5d4f4;
        border-radius: 5%;
        background-color: #d5d4f4;
    }
}
/* /Tablet Responsitivity */

/* Desktop Responsitivity */

/* /Desktop Responsitivity */